{% extends 'home.html' %}

{% block contentsx %}
 <div class="container pt-3">
        <div class="contianer">
         <h2 class="blog-post-title center">{{read_Note.Title}}</h2>

         <div class="container d-flex flex-row-reverse bd-highlight">
         <a href="edit_note/{{read_Note.id}}"  type="button" class="btn btn-info">Edit This Post</a>
         <a href="delete_note/{{read_Note.id}}"  type="button" class="btn btn-danger mr-3">Delete This Post</a>
         </div>
        </div>
       
       <h2>HELLLOOOO {{data.id}}</h2>
        <p>{{read_Note.Content|safe}}</p>
</div>
{% endblock contentsx %}





